<%= form_for @imagem, :html => { :class => "form-horizontal imagem" } do |f| %>

  <% if @imagem.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@imagem.errors.count, "error") %> prohibited this imagem from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @imagem.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :veiculo_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :veiculo_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:veiculo_id) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                imagems_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
